.formField {
	width: 100%;
	border:none;
	background-image:none;
	background-color:transparent;
	box-shadow: none;
	font-size: 18px;
	line-height: 1.5;
	color: $color-text-dark;
	min-height: 24px;
	border-bottom: 1px solid $color-border;
	padding: 0;
	border-radius: 0;
	-webkit-appearance: none;
	-webkit-border-radius: 0;

	&::placeholder {
		color: $color-text;
		font-size: 18px;
		font-family: $font-family;
	}
}

textarea.formField {
	resize: none;
	height: 24px;
}

@include media(s) {
	.formField {
		font-size: 16px;

		&::placeholder {
			font-size: 16px;
		}
	}
}

