html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: $font-family;
	font-size: $font-size;
	font-weight: 500;
	line-height: $line-height;
	color: $color-text;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	@include media(s) {
		font-size: 16px;
	}
}

*, *:before, *:after {
	box-sizing: border-box;
}

img {
	vertical-align: middle;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip: rect(0 0 0 0);
	overflow: hidden;

	&:not(:focus):not(:active) {
		position: absolute;
		width: 1px;
		height: 1px;
		margin: -1px;
		border: 0;
		padding: 0;
		white-space: nowrap;
		clip: rect(0 0 0 0);
		overflow: hidden;
	}
}

.disableOutline *,
*:before,
*:after {
	outline: none;
}


