$font-family: 'Montserrat', sans-serif;
$font-size: 16px;
$line-height: 1.5;
$columns: 12;
$border-radius: 20px;

$color-brand: #0066FF;
$color-brand-dark: #0463F1;
$color-text: #161616;
$color-text-dark: #000000;
$color-back: #FDFEFF;
$color-white: #FFFFFF;
$color-border: #E3E7EB;
$color-gray: #717171;
$color-accent: #FA842E;
$color-accent-dark: #FF720C;
$color-border: #EEEEEE;
$color-plate: #FFF2E9;
